{{- if .Values.conditionalPackageInstalls.certManager }}
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: selfsigned-issuer
  labels:
    app: {{ .Release.Name }}
spec:
  selfSigned: {}
{{- end }}
