/* migration-path.module.css */

.pathContainer {
    /* display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; */
    /* gap: 2rem; */
  }
  
  .clusterNodeBox {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    background-color: #f9f9f9;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }
  
  .statusTrigger {
    margin-top: 0.5rem;
    cursor: pointer;
  }
  
  .pathArrow {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  