apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: capture-replay
spec:
  entrypoint: run-all
  serviceAccountName: argo-workflow-executor
  templates:
    - name: run-all
      failFast: true
      inputs:
        parameters:
          - name: session-name
            value: "temp" # temporary - just to launch a migration console
          - name: source-config
            value: ""
            # Kafka setup
          - name: provided-kafka-bootstrap-servers
            value: ""
          - name: provided-kafka-k8s-name
            value: ""
          - name: kafka-prefix
            value: "ct"
          - name: topic-name
            value: ""
          - name: topic-partitions
            value: ""
            # Proxy setup
          - name: proxy-destination
            value: |
              {
                  "endpoint": "https://elasticsearch-master-headless:9200",
                  "allow_insecure": true
              }
          - name: proxy-listen-port
            value: 9200
            # Replayer setup
          - name: replayer-target-config
            value: |
              {
                  "endpoint": "https://opensearch-cluster-master-headless:9200",
                  "allow_insecure": true,
                  "basic_auth": {
                      "username": "admin",
                      "password": "admin"
                  }
              }
          - name: image-config
            value: |
              {
                "captureProxyImage": "migrations/capture_proxy:latest",
                "captureProxyPullPolicy": "IfNotPresent",
                "etcdUtilsImage": "migrations/migration_console:latest",
                "etcdUtilsPullPolicy": "IfNotPresent",
                "migrationConsoleImage": "migrations/migration_console:latest",
                "migrationConsolePullPolicy": "IfNotPresent",
                "reindexFromSnapshotImage": "migrations/reindex_from_snapshot:latest",
                "reindexFromSnapshotPullPolicy": "IfNotPresent",
                "trafficReplayerImage": "migrations/traffic_replayer:latest",
                "trafficReplayerPullPolicy": "IfNotPresent"
              }
      dag:
        tasks:
          - name: id-generator
            template: id-generator
            arguments:
              parameters:
                - name: service-name
                  value: "{{inputs.parameters.session-name}}"
                - name: proxy-endpoint
                  value: "http://{{inputs.parameters.session-name}}:{{inputs.parameters.proxy-listen-port}}"

          - name: kafka-cluster-setup
            templateRef:
              name: kafka-setup-better
              template: setup-kafka-with-users
            when: "'{{inputs.parameters.provided-kafka-bootstrap-servers}}' == ''"
            dependencies: [ id-generator ]
            arguments:
              parameters:
                - name: kafka-name
                  value: "{{inputs.parameters.kafka-prefix}}-{{=last(split(tasks['id-generator'].id, '-'))}}"

          - name: get-brokers-list
            template: get-brokers-list
            dependencies: [ kafka-cluster-setup ]
            arguments:
              parameters:
                - name: created-kafka-name
                  value: "{{tasks.kafka-cluster-setup.outputs.parameters.kafka-name}}"
                - name: created-bootstrap-servers
                  value: "{{tasks.kafka-cluster-setup.outputs.parameters.bootstrapServers}}"
                - name: created-capture-proxy-secret
                  value: "{{tasks.kafka-cluster-setup.outputs.parameters.captureProxyPropertiesSecret}}"
                - name: created-replayer-secret
                  value: "{{tasks.kafka-cluster-setup.outputs.parameters.replayerPropertiesSecret}}"
                - name: provided-kafka-bootstrap-servers
                  value: "{{inputs.parameters.provided-kafka-bootstrap-servers}}"
                - name: provided-kafka-k8s-name
                  value: "{{inputs.parameters.provided-kafka-k8s-name}}"

          - name: kafka-topic-setup
            templateRef:
              name: kafka-setup
              template: create-kafka-topic
            dependencies: [ get-brokers-list ]
            arguments:
              parameters:
                - name: kafka-name
                  value: "{{tasks.get-brokers-list.outputs.parameters.kafka-name}}"
                - name: topic-name
                  value: "{{=let v=inputs.parameters['topic-name']; v == '' ? inputs.parameters['session-name'] : v}}"
                - name: topic-partitions
                  value: "{{inputs.parameters.topic-partitions}}"

          - name: deploy-capture-proxy
            templateRef:
              name: capture-proxy
              template: deploy-capture-proxy
            dependencies: [ get-brokers-list, kafka-topic-setup ]
            arguments:
              parameters:
                - name: backside-uri-string
                  value: "{{=fromJSON(inputs.parameters['proxy-destination'])['endpoint']}}"
                - name: allow-insecure-connections-to-backside
                  value: "{{=fromJSON(inputs.parameters['proxy-destination'])['allow_insecure']}}"
                - name: frontside-port
                  value: "{{inputs.parameters.proxy-listen-port}}"
                - name: kafka-connection
                  value: "{{tasks.get-brokers-list.outputs.parameters.bootstrap-servers}}"
                - name: kafka-properties-secret
                  value: "{{tasks.get-brokers-list.outputs.parameters.capture-proxy-secret}}"
                - name: kafka-topic
                  value: "{{tasks.kafka-topic-setup.outputs.parameters.topic-name}}"
                - name: capture-proxy-image
                  value: "{{=fromJSON(inputs.parameters['image-config'])['captureProxyImage']}}"
                - name: capture-proxy-pull-policy
                  value: "{{=fromJSON(inputs.parameters['image-config'])['captureProxyPullPolicy']}}"

          - name: proxy-service
            templateRef:
              name: capture-proxy
              template: deploy-service
            dependencies: [ deploy-capture-proxy ]
            arguments:
              parameters:
                - name: service-name
                  value: "{{tasks.id-generator.outputs.parameters.service-name}}"
                - name: frontside-port
                  value: "{{inputs.parameters.proxy-listen-port}}"

          - name: deploy-replayer
            templateRef:
              name: replayer
              template: deploy-replayer
            dependencies: [ get-brokers-list, kafka-topic-setup ]
            arguments:
              parameters:
                - name: target-url
                  value: "{{=fromJSON(inputs.parameters['replayer-target-config'])['endpoint']}}"
                - name: insecure
                  value: "{{=fromJSON(inputs.parameters['replayer-target-config'])['allow_insecure']}}"
                - name: auth-header-value
                  value: "{{=let a=fromJSON(inputs.parameters['replayer-target-config'])['basic_auth']; a==nil ? '' : 'Basic ' + toBase64(a['username'] + ':' + a['password'])}}"
                - name: speedup-factor
                  value: "20.0"
                - name: kafka-properties-secret
                  value: "{{tasks.get-brokers-list.outputs.parameters.replayer-secret}}"
                - name: kafka-traffic-topic
                  value: "{{tasks.kafka-topic-setup.outputs.parameters.topic-name}}"
                - name: kafka-traffic-group-id
                  value: "{{tasks.id-generator.id}}"
                - name: replicas
                  value: "1"
                - name: traffic-replayer-image
                  value: "{{=fromJSON(inputs.parameters['image-config'])['trafficReplayerImage']}}"
                - name: traffic-replayer-pull-policy
                  value: "{{=fromJSON(inputs.parameters['image-config'])['trafficReplayerPullPolicy']}}"

          # - name: run-migration-console
          #   templateRef:
          #     name: migration-console-template
          #     template: deploy-console
          #   dependencies: [ get-brokers-list ]
          #   arguments:
          #     parameters:
          #       - name: name
          #         value: "diagnostic-console-{{inputs.parameters.session-name}}"
          #       - name: source-cluster
          #         value: "{{=replace(inputs.parameters['source-config'], fromJSON(inputs.parameters['source-config'])['endpoint'], tasks['id-generator'].outputs.parameters['proxy-endpoint'])}}"
          #       - name: target-cluster
          #         value: "{{inputs.parameters.replayer-target-config}}"
          #       - name: kafka-info
          #         value: |
          #           {
          #             "broker_endpoints": "{{tasks.get-brokers-list.outputs.parameters.bootstrap-servers}}",
          #             "properties_secret": "{{tasks.get-brokers-list.outputs.parameters.capture-proxy-secret}}",
          #             "standard": ""
          #           }
          #       - name: command
          #         value: tail -f /dev/null
          #       - name: migration-console-image
          #         value: "{{=fromJSON(inputs.parameters['image-config'])['migration-console']['image']}}"
          #       - name: migration-console-pull-policy
          #         value: "{{=fromJSON(inputs.parameters['image-config'])['migration-console']['pull-policy']}}"

          - name: get-user-satisfied-confirmation
            template: get-user-satisfied-confirmation
            dependencies: [ proxy-service, deploy-replayer ]

    - name: get-brokers-list
      steps: [[]]
      inputs:
          parameters:
            - name: created-bootstrap-servers
            - name: created-kafka-name
            - name: created-capture-proxy-secret
              value: ""
            - name: created-replayer-secret
              value: ""
            - name: provided-kafka-bootstrap-servers
            - name: provided-kafka-k8s-name
      outputs:
        parameters:
          - name: kafka-name
            valueFrom:
              expression: "inputs.parameters['provided-kafka-k8s-name'] == '' ? inputs.parameters['created-kafka-name'] : inputs.parameters['provided-kafka-k8s-name']"
          - name: bootstrap-servers
            valueFrom:
              expression: "inputs.parameters['provided-kafka-bootstrap-servers'] == '' ? inputs.parameters['created-bootstrap-servers'] : inputs.parameters['provided-kafka-bootstrap-servers']"
          - name: capture-proxy-secret
            valueFrom:
              expression: "inputs.parameters['created-capture-proxy-secret']"
          - name: replayer-secret
            valueFrom:
              expression: "inputs.parameters['created-replayer-secret']"

    - name: get-user-satisfied-confirmation
      suspend: {}

    - name: id-generator
      inputs:
        parameters:
          - name: proxy-endpoint
          - name: service-name
      outputs:
        parameters:
          - name: proxy-endpoint
            valueFrom:
              expression: "inputs.parameters['proxy-endpoint']"
          - name: service-name
            valueFrom:
              expression: "inputs.parameters['service-name']"
      steps: [[]]
