apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: capture-proxy
spec:
  entrypoint: deploy-capture-proxy
  serviceAccountName: argo-workflow-executor
  templates:
    - name: deploy-service
      inputs:
        parameters:
          - name: frontside-port
          - name: service-name
            value: ""
      outputs:
        parameters:
          - name: endpoint
            valueFrom:
              expression: "steps['create-service'].outputs.parameters['endpoint'] + ':' + inputs.parameters['frontside-port']"
      steps:
        - - name: create-service
            template: create-service
            arguments:
              parameters:
                - name: frontside-port
                  value: "{{inputs.parameters.frontside-port}}"
                - name: service-name
                  value: "{{inputs.parameters.service-name}}"

    - name: create-service
      inputs:
        parameters:
          - name: frontside-port
          - name: service-name
      outputs:
        parameters:
          - name: endpoint
            valueFrom:
              jsonPath: '{.metadata.name}'
      successCondition: status.loadBalancer.ingress
      resource:
        action: create
        setOwnerReference: true
        flags: [ "--validate=false" ]
        manifest: |
          apiVersion: v1
          kind: Service
          metadata:
            name: {{inputs.parameters.service-name}}
            labels:
              app: proxy
          spec:
            selector:
              app: proxy
            ports:
            - port: {{inputs.parameters.frontside-port}}
              targetPort: {{inputs.parameters.frontside-port}}
            type: LoadBalancer

    - name: deploy-capture-proxy
      inputs:
        parameters:
          - name: backside-uri-string
          - name: frontside-port
          - name: capture-proxy-image
          - name: capture-proxy-pull-policy
          - name: replicas
            value: "1"
          - name: kafka-properties-secret
            value: ""
          - name: kafka-topic
            value: ""
          - name: kafka-connection
            value: ""
          - name: allow-insecure-connections-to-backside
            value: "false"
      resource:
        action: create
        setOwnerReference: true
        manifest: |
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            generateName: proxy-
            labels:
              app: proxy
          spec:
            replicas: {{inputs.parameters.replicas}}
            selector:
              matchLabels:
                app: proxy
            template:
              metadata:
                labels:
                  app: proxy
              spec:
                containers:
                - name: proxy
                  image: {{inputs.parameters.capture-proxy-image}}
                  imagePullPolicy: {{inputs.parameters.capture-proxy-pull-policy}}
                  env:
                    - name: BACKSIDE_URI_STRING
                      value: "{{inputs.parameters.backside-uri-string}}"
                    - name: FRONTSIDE_PORT
                      value: "{{inputs.parameters.frontside-port}}"
                    - name: ALLOW_INSECURE_CONNECTIONS_TO_BACKSIDE
                      value: "{{inputs.parameters.allow-insecure-connections-to-backside}}"
                    - name: KAFKA_CONNECTION
                      value: "{{inputs.parameters.kafka-connection}}"
                    - name: KAFKA_TOPIC
                      value: "{{inputs.parameters.kafka-topic}}"
                    - name: KAFKA_PROPERTIES_FILE
                      value: "/opt/kafka-config/kafka.properties"
                  volumeMounts:
                  - name: kafka-config
                    mountPath: /opt/kafka-config
                    readOnly: true
                  ports:
                  - containerPort: {{inputs.parameters.frontside-port}}
                  command:
                    - "/bin/sh"
                    - "-c"
                    - |
                      set -e
                      exec /runJavaWithClasspath.sh org.opensearch.migrations.trafficcapture.proxyserver.CaptureProxy \
                        --destinationUri "$BACKSIDE_URI_STRING" \
                        --listenPort "$FRONTSIDE_PORT" \
                        --kafkaConnection "$KAFKA_CONNECTION" \
                        --kafkaTopic "$KAFKA_TOPIC" \
                        --kafkaConfigFile "$KAFKA_PROPERTIES_FILE" \
                        $([[ "$ALLOW_INSECURE_CONNECTIONS_TO_BACKSIDE" == "true" ]] && echo "--insecureDestination")
                volumes:
                - name: kafka-config
                  secret:
                    secretName: {{inputs.parameters.kafka-properties-secret}}
