name: Release drafter

# Push events to every tag not containing "/"
on:
  push:
    tags:
      - "*"
  workflow_dispatch:

env:
  java-version: '17'
  gradle-version: '8.12.1'

permissions:
  id-token: write
  contents: write
  issues: write

jobs:
  draft-a-release:
    name: Draft a release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-env
      - name: Configure AWS Credentials for Solutions Upload
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.SOLUTIONS_UPLOAD_ROLE }}
          aws-region: us-east-1
      - run: aws s3 ls
      - run: echo "Success!"