name: Release drafter

# Push events to every tag not containing "/"
on:
  push:
    tags:
      - "*"
  workflow_dispatch:

env:
  java-version: '17'
  gradle-version: '8.12.1'

permissions:
  id-token: write
  contents: write
  issues: write

jobs:
  draft-a-release:
    name: Draft a release
    runs-on: ubuntu-22.04
    outputs:
      dockerhub-password: ${{ steps.retrieve-values.outputs.dockerhub-password }}
    steps:
      - uses: actions/checkout@v5
      - uses: ./.github/actions/setup-env
      - id: get_data
        run: |
          echo "approvers=$(cat .github/CODEOWNERS | grep @ | tr -d '*\n ' | sed 's/@/,/g' | sed 's/,//1')" >> $GITHUB_OUTPUT
          echo "version=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
      - name: Generate Solutions Artifact
        run: |
          ./deployment/migration-assistant-solution/package-artifacts.sh
      - name: Configure AWS Credentials for Solutions Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.SOLUTIONS_CREDENTIALS_ROLE }}
          aws-region: us-east-1
      - name: Assume second role for Solutions Upload
        run: |
          CREDS=$(aws sts assume-role --role-arn ${{ secrets.SOLUTIONS_UPLOAD_ROLE }} --role-session-name github-actions)
          echo "AWS_ACCESS_KEY_ID=$(echo $CREDS | jq -r '.Credentials.AccessKeyId')" >> $GITHUB_ENV
          echo "AWS_SECRET_ACCESS_KEY=$(echo $CREDS | jq -r '.Credentials.SecretAccessKey')" >> $GITHUB_ENV
          echo "AWS_SESSION_TOKEN=$(echo $CREDS | jq -r '.Credentials.SessionToken')" >> $GITHUB_ENV
      - name: Upload Solutions Artifact to S3
        run: |
          aws s3 cp deployment/migration-assistant-solution/build/artifact.zip \
            s3://cornerstone-amazonaws/SO0290/2.5.9/${{ github.sha }}/artifact.zip \
            --content-type application/zip \
            --metadata branch=${{ github.ref_name }},\
          commitauthor="$(git log -1 --format='%an' | sed 's/"//g')",\
          commitid=${{ github.sha }},\
          commitmessage="$(git log -1 --format='%s' | sed 's/"//g')",\
          committimestamp=$(git log -1 --format='%cI'),\
          enablequicksight=No,\
          package=https://github.com/${{ github.repository }},\
          publishpublicecrimage=false,\
          solutionid=SO0290,\
          solutionname="Migration Assistant for Amazon OpenSearch Service",\
          solutionversion=2.5.9
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: migration-assistant-artifact
          path: deployment/migration-assistant-solution/build/artifact.zip